
.box1{
/* padding: 40px; */
position: absolute;
left: 200px;
}
.box2{
    position: absolute;
    left: 30px;
}
.heading2{
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;

}
.divison2{
    position: relative;
    border: 1px solid navy;
    height: 270px;
    width: 500px;

}
.box3{
    position: absolute;
    left: 390px;
}
.box4{
    position: absolute;
    top: 120px;
    left: 200px;
}
.para{
    margin-left: 650px;
    top: 220px;
    position: absolute;
   
}
.image{
    position: fixed;
    right: 20px;
}
/* .separation{
    position: absolute;
    bottom: 50px;

} */
/* .img1{
position: absolute;
left: 10px;
}
.img2{
    position: absolute;
    left: 200px;
} */
